.confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10; /* Make sure it's above other elements but can be below modals */
  pointer-events: none; /* Allow clicks to pass through */
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 20px;
  opacity: 0.7;
}