.gust-container {
  position: absolute;
  top: 55%; /* Position it vertically to aim at the candle */
  left: 0;
  width: 200px;
  height: 50px;
  z-index: 10;
  pointer-events: none; /* Make sure it's not clickable */
}

.wind-line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

/* Position the lines within the container */
.wind-line:nth-child(1) {
  top: 0;
  transform: scaleX(0.8);
}
.wind-line:nth-child(2) {
  top: 20px;
}
.wind-line:nth-child(3) {
  top: 40px;
  transform: scaleX(0.9);
}